* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-size: 16px;
  color: #22344d;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
h2 {
  font-size: 32px;
}
h4 {
  text-transform: none;
}
a {
  color: #22344d;
  display: block;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
button {
  outline: none;
  cursor: pointer;
}
span {
  display: block;
}
input {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.common-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 32px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 2px;
  border: none;
}
.common-button:hover {
  color: #fff;
}
.subtitle {
  font-weight: 300;
}
/* SLIDER */
.swiper-container {
  padding: 100px 20px 0;
  margin: -100px -20px 0 -20px;
}
.swiper-slide {
  background: #ffffff;
  border: 1px solid #bed2dd;
  border-radius: 2px;
  transition: 0.2s;
  height: auto;
}

.swiper-slide:hover {
  box-shadow: 0px 4px 30px rgba(132, 164, 185, 0.24);
  cursor: pointer;
  border-color: #fff;
}
.swiper-wrapper {
  padding: 15px 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}
.swiper-button-prev.swiper-button-disabled .arrow-left,
.swiper-button-next.swiper-button-disabled .arrow-right {
  fill: #dbdbdb;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  right: 60px;
  left: auto;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  border: 1px solid #d3d3d3;
  top: 60px;
  transition: 0.2s;
  width: 51px;
  height: 51px;
  margin-right: 20px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #2c798d;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "";
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "";
}
.arrow-left,
.arrow-right {
  fill: #2b798d;
}
.swiper-button-next:hover .arrow-right,
.swiper-button-prev:hover .arrow-left {
  fill: #dbdbdb;
}

/* Breadcrumb */

.breadcrumb {
  padding: 20px 0 24px;
  display: flex;
  position: relative;
}

.breadcrumb__item {
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #9292aa;
  width: 6px;
  top: 27px;
  left: 50px;
}

.breadcrumb__link {
  color: #9292aa;
  text-decoration: none;
  font-weight: 300;

  margin-right: 15px;
}

.breadcrumb__link:hover {
  color: #22344d;
}

/* HEADER */
.header {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 75px;
}

.wrapper-contacts {
  display: flex;
  height: 100px;
  border-bottom: 1px solid #d3d3d3;
  align-items: center;
  justify-content: space-between;
}
.search-field {
  display: flex;
  align-items: center;
}
.search-field__input {
  margin-left: 14px;
  font-weight: normal;
}
.header__contacts {
  display: flex;
  align-items: center;
}

.header__contacts > * {
  margin-left: 32px;
}

.email {
  line-height: 18px;
  font-weight: 300;
}
.phone {
  font-weight: 500;
}
.phone:hover,
.email:hover {
  opacity: 0.7;
}
.header__navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 23px;
}
.header__navigation .menu {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-column-gap: 30px;
}
.menu__link {
  white-space: nowrap;
  width: fit-content;
  transition: 0.2s;
}
/* Dropdown Button */
.dropbtn {
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding-right: 10px;
}

.dropbtn::after {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-down.svg);
  width: 10px;
  height: 5px;
  background-repeat: no-repeat;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  right: -5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 300px;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgb(86 86 86 / 10%);
  z-index: 1;
  background: #fff;
}

/* Links inside the dropdown */
.dropdown-content__link {
  position: relative;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.2s;
  border-bottom: 1px solid #9292aa;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu__link:hover,
.dropdown-content__link:hover {
  opacity: 0.7;
}

/* OFFER */

#offer {
  background-image: url(../img/background-skyscraper.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 90px 0 112px 0;
  background-size: 61% 100%;
}

.offer__title {
  font-size: 35px;
  line-height: 43px;
  width: 680px;
  color: #121a4e;
}
.offer__subtitle {
  width: 530px;
  padding: 40px 0;
}
.offer__search {
  margin-bottom: 18px;
  font-weight: 500;
}
.offer__form {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(102, 102, 102, 0.16);
  border-radius: 2px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.offer__form::after {
  content: "";
  position: absolute;
  border-right: 1px solid #d3d3d3;
  width: 1px;
  height: 100%;
  top: 0;
  right: 19%;
}
.offer__input {
  border-bottom: 1px solid #d3d3d3;
  color: #22344d;
  padding-bottom: 9px;
  width: 100%;
}
.offer__form-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
}
.offer__filter-btn {
  margin-right: 30px;
}
.offer__filter {
  fill: #dbdbdb;
  transition: 0.2s;
  display: block;
}
.offer__filter:hover {
  fill: #2b798d;
}
.offer__filter-box {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.offer__btn {
  color: #fff;
  padding: 11px 28px;
  background-color: #3b5370;
  border: none;
  transition: 0.2s;
}
.offer__btn:hover {
  background: #7299c9;
}
.offer__input-box {
  position: relative;
}
.arrow-down::after {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-down.svg);
  width: 10px;
  height: 5px;
  background-repeat: no-repeat;
  top: calc(50% - 5px);
  transform: translateY(-50%);
  right: 0;
}
.offer__input-box .dropdown-content {
  min-width: 220px;
  max-width: 300px;
}
.overflow {
  height: 200px;
}
/* PROFITABLE */
#profitable {
  padding: 50px 0;
}

.profitable__subtitle {
  padding: 20px 0 17px;
  width: 340px;
  font-weight: 300;
}
.profitable__link {
  padding: 12px 13px 26px 13px;
}
.profitable__info {
  padding-top: 15px;
}
.profitable__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding-top: 7px;
}

.profitable__price {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #9292aa;
  display: flex;
  align-items: baseline;
  margin-top: 13px;
}
.profitable__price span {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #2c798d;
  margin-right: 9px;
}

/* Our-advantages */
#our-advantages {
  padding: 50px 0 100px;
  font-weight: 300;
}

.our-advantages__wrapper {
  display: flex;
  justify-content: space-between;
}
.our-advantages__title {
  margin-bottom: 40px;
}
.our-advantages__title-continuation {
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
}
.our-advantages__text {
  margin-bottom: 27px;
  width: 435px;

  line-height: 1.315em;
}
.our-advantages__list-countries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}
.our-advantages__item-countries {
  position: relative;
  font-weight: 500;
  line-height: 19px;
}
.our-advantages__item-countries::before {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-nav.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}
.our-advantages__our-mission {
  font-size: 20px;
  line-height: 25px;
  margin: 30px 0 5px;
  position: relative;
}
.our-advantages__our-mission::after {
  content: "";
  position: absolute;
  width: 126px;
  top: 50%;
  background-color: #d3d3d3;
  height: 1px;
  transform: translateY(-50%);
  right: 47%;
}
/* FREE-Calculating*/

#free-calculating {
  background-image: url(../img/free-calculate-bg.jpg);
  background-color: #2b798d;
  background-repeat: no-repeat;
  padding: 40px 0 46px 0;
  background-position: 53% bottom;
}
.free-calculating__wrapper {
  display: flex;
  justify-content: space-between;
}
.free-calculating__text-block {
  padding-top: 40px;
}
.free-calculating__title,
.free-calculating__subtitle {
  color: #fff;
}
.free-calculating__title {
  width: 650px;
}
.free-calculating__subtitle {
  width: 420px;
  padding-top: 40px;
}
.free-calculating__button {
  color: #2a798d;
}
.free-calculating__button:hover {
  background: #89c6d6;
}
/* Numbers */
#numbers {
  padding: 100px 0 50px 0;
}
.numbers__subtitle {
  width: 675px;
  margin: 20px 0 5px 0;
}
.numbers__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 85px;
}
.numbers__item {
  position: relative;
}
.numbers__reporting-digit {
  font-weight: 800;
  font-size: 100px;
  color: #e9eef2;
}
.numbers__reporting-text {
  font-weight: 500;
  position: absolute;
  bottom: -7px;
}
/* HOME-PAGE-NEWS */
#home-page-news {
  padding: 50px 0 90px 0;
}
.home-page-news__title {
  margin-bottom: 22px;
}
.home-page-news__link {
  padding: 12px 12px 21px 12px;
}
.truncate-image-wrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profitable__image-wrap {
  height: 200px;
  line-height: 200px;
}

.home-page-news__image-wrap {
  height: 140px;
  line-height: 140px;
}
.home-page-news__img,
.profitable__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.home-page-news__info {
  margin: 14px 0;
  font-size: 14px;
}
.home-page-news__info-about {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
/* Questions */

#questions {
  background-image: url(../img/bg-questions.png);
  background-repeat: no-repeat;
  background-position-x: left;
  padding-top: 82px;
  background-size: 61% 100%;
}
#accordion {
  width: 965px;
  margin-left: auto;
  height: 750px;
}
.questions__title {
  margin-bottom: 40px;
}
.questions__point {
  cursor: pointer;
  padding: 15px 3px;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 22px;
}
.questions__arrow-down {
  fill: #dbdbdb;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}
.questions__point:hover .questions__arrow-down {
  fill: #2b798d;
}
.ui-accordion-header-active .questions__arrow-down {
  fill: #2b798d;
}
.ui-accordion-header-active .questions__arrow-down {
  transform: rotateX(-180deg);
  top: 37px;
}
.questions__point::before {
  content: "";
  position: absolute;
  border: 1px solid #acc4d5;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 20px rgba(102, 102, 102, 0.16));
  border-radius: 2px;
  width: 98%;
  height: 85%;
  margin-left: 8px;
}

.questions__number {
  color: #e9eef2;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  margin-right: 10px;
  z-index: 1;
}
.questions__item {
  padding: 15px;
}
.questions__item,
.questions__point {
  background: #ffffff;
  border-radius: 2px;
}

.questions__point:hover {
  box-shadow: 0px 4px 30px rgba(132, 164, 185, 0.24);
}

/* Reviews */
#reviews {
  padding: 100px 0;
}
.reviews__title {
  margin-bottom: 25px;
}
.reviews__swiper-wrapper {
  padding: 25px 0;
}

.reviews__slide {
  border: none;
  box-shadow: 0px 4px 30px rgba(132, 164, 185, 0.24);
  padding: 24px 5px 31px 20px;
}

.reviews__info {
  font-size: 18px;
  font-weight: 800;
}
.reviews__label-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__label {
  margin-bottom: 25px;
  width: 385px;
  text-align: center;
}
.reviews__button {
  border: 1px solid #2b798d;
  color: #fff;
  background-color: #2b798d;
  display: inline-block;
}
.reviews__button:hover {
  border: 1px solid #2b798d;
  color: #2b798d;
  background-color: transparent;
  transition: 0.2s;
}
.reviews__data {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.reviews__info {
  margin-right: 14px;
}
.reviews__social {
  display: flex;
  align-items: center;
  color: #9292aa;
  transition: 0.2s;
}
.reviews__social:hover {
  color: #2b798d;
}
.reviews__social:hover .reviews__inst-image {
  fill: #2b798d;
}
.reviews__inst-image {
  margin-right: 6px;
  fill: #9292aa;
}
.reviews__date {
  margin-left: auto;
  color: #dbdbdb;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-right: 10px;
}
.reviews__info-about {
  font-size: 14px;
  line-height: 17px;
}
.reviews__info-about-difference {
  font-weight: bold;
}
.reviews__video-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__video-link {
  text-align: center;
}
.reviews__video-link:hover .reviews__video-play::after {
  opacity: 0;
}
.reviews__video-link:hover {
  color: #3b5370;
}
.reviews__video-comment {
  width: 172px;
}
.reviews__video-play {
  width: 45px;
  height: 45px;
  border: 1px solid #2a798d;
  border-radius: 50%;
  background-color: #2a798d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  position: relative;
}
.reviews__video-play::after {
  content: "";
  position: absolute;
  border: 1px solid #acc4d5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 1;
  transition: 0.3s;
}
.reviews__play-img {
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
}
/* .reviews__video-play::before {
  content: "";
  position: absolute;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: #2a798d;
  border-radius: 50%;
  padding: 10px;
} */
.reviews__video-link {
  color: #2b798d;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.315em;
  text-decoration: underline #2a798d;
  display: inline-block;
}

/* CONSULTATION */

#consultation {
  background-color: #3b5370;
  background-image: url(../img/consultation-bg.jpg);
  background-repeat: no-repeat;
  padding: 60px 0;
  background-position: 45% bottom;
}

#consultation > * {
  color: #fff;
}
.consultation__wrapper {
  display: flex;
  justify-content: space-between;
}
.consultation__title {
  font-size: 33px;
  line-height: 40px;
  width: 560px;
}

.consultation__subtitle {
  font-size: 16px;
  width: 446px;
  padding: 25px 0 35px 0;
}
.consultation__difference {
  font-weight: 800;
  display: inline-block;
}
.social {
  display: flex;
  align-items: center;
}
.social-item {
  border: 1px solid #eef1f3;
  margin-right: 5px;
  border-radius: 2px;
}
.social-link {
  color: #eef1f3;
  display: flex;
  padding: 10px 15px;
  align-items: center;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.315em;
}
.social-link:hover {
  background: #7299c9;
}
.consultation__social-icon {
  fill: #eef1f3;
  margin-right: 10px;
}

.consultation__text {
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
}
.common-form {
  display: flex;
  flex-direction: column;
}
.common-input {
  width: 100%;
  background: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 35px;
  color: #fff;
}

.common-input::placeholder {
  color: #fff;
}
.consultation__button {
  background-color: #fff;
  color: #22344d;
}
.consultation__button:hover {
  background: #7299c9;
}
/* FOOTER*/
.footer {
  padding: 60px 0 27px 0;
  background-color: #f6f7fa;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 14px;
  border-bottom: 1px solid #e9e9e9;
}
.footer-info__text {
  width: 190px;
  font-size: 14px;
}
.footer-info__email {
  margin-top: 16px;
  font-size: 14px;
}
.footer__title {
  font-size: 23px;
  margin-bottom: 10px;
}
.footer__link {
  margin-top: 5px;
  color: #9292aa;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  transition: 0.2s;
}
.footer__link:hover {
  color: #22344d;
  font-weight: bold;
}
.footer-contacts__text {
  color: #9292aa;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
}
.phone-link {
  font-size: 16px;
  color: #22344d;
}
.footer-contacts__phone {
  margin-top: 20px;
}
.place {
  font-weight: 500;
  font-size: 10px;
  color: #9292aa;
}
.copyright {
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright > * {
  color: #3b5370;
}

.creator {
  display: flex;
  align-items: center;
}

.creator__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  margin-right: 9px;
}
.copyright-link {
  border-bottom: 1px solid #3b5370;
}
.copyright-link:hover {
  opacity: 0.7;
}

/* CONTACTS.HTML */
.our-contacts__subtitle {
  font-weight: 300;
  line-height: 1.315em;
  margin: 20px 0 40px;
  width: 560px;
}
.our-contacts__block {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(102, 102, 102, 0.16);
  border-radius: 2px;
  padding: 35px 30px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  grid-gap: 50px;
}
.our-contacts__information {
  margin-bottom: 12px;
}
.our-contacts__text {
  position: relative;
}
.our-contacts__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  padding-left: 20px;
  margin-bottom: 16px;
}
.square::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2c798d;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.our-contacts__map-link {
  display: inline-block;
  color: #9292aa;
  line-height: 1.315em;
  font-size: 12px;
  border-bottom: 1px solid #9292aa;
}

.our-contacts__social {
  margin-top: 15px;
}
.our-contacts__social-icon {
  fill: #eef1f3;
  margin-right: 10px;
}
.our-contacts__social-item {
  background-color: #3b5370;
  border: 1px solid #eef1f3;
}
.our-contacts__txt {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.315em;
}
.our-contacts__link {
  position: relative;
  padding-left: 24px;
}
.compress {
  line-height: 18px;
}
.our-contacts__social-networking {
  display: flex;
  align-items: center;
}
.our-contacts__mail-txt {
  font-weight: 500;
  line-height: 19px;
}
.our-contacts__mail-link {
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid #9292aa;
  transition: 0.2s;
  margin-bottom: 30px;
}
.our-contacts__map-link:hover,
.our-contacts__mail-link:hover {
  color: #3b5370;
}
.our-contacts__social-networking-item,
.our-contacts__mail-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.315em;
  color: #9292aa;
  margin-right: 10px;
}
.our-contacts__social-networking-svg {
  fill: #2b798d;
  margin-bottom: 9px;
}
.our-contacts__social-networking-link {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.our-contacts__social-networking-svg:hover {
  opacity: 0.8;
}
/* Set the size of the div element that contains the map */
#map {
  height: 455px;
  width: 100%;
}
/* SERVICES */
#services {
  padding-bottom: 100px;
}

.ui-tabs-vertical {
  width: 100%;
  display: flex;
  margin-top: 43px;
  margin-left: -15px;
  justify-content: center;
  position: relative;
  padding-bottom: 50px;
}

.ui-tabs-vertical .ui-tabs-nav {
  position: relative;
  padding-top: 50px;
}
.tabs__list-wrap::before {
  content: "";
  position: absolute;
  background-color: #2b798d;
  width: 50%;
  margin-left: -170px;
  height: 510px;
  z-index: -5;
  left: 0;
}

.tabs__item {
  width: 100%;
  border-bottom: 1px solid #acc4d4;
  transition: 0.1s;
}
.tabs__link {
  display: block;
  padding: 0 50px 0 26px;
  font-size: 18px;
  line-height: 49px;
  color: #fff;
  width: 315px;
}
.tabs__item:hover {
  background-color: #4591a5;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  background-color: #4591a5;
  font-weight: bold;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: 0;
}
.ui-tabs-vertical .ui-tabs-panel {
  width: 40em;
  margin-left: 125px;
}
.tabs-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 37px;
}
.tabs-inner_item {
  display: flex;
  margin-bottom: 26px;
}
.step::before {
  content: "";
  position: absolute;
  background-color: #d3d3d3;
  height: 40px;
  top: 29px;
  left: 0;
  width: 1px;
}
.step {
  position: absolute;
  padding: 7px 11px;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: #22344d;
}
.last::before {
  display: none;
}
.tabs-text_wrap {
  margin-left: 85px;
}
.tabs-inner_title {
  font-weight: bold;
  line-height: 19px;
  margin-bottom: 8px;
}
.tabs-inner_paragraph {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.tabs-label {
  line-height: 19px;
  width: 540px;
}
.tabs-label__difference {
  display: inline-block;
  font-weight: 800;
}
.tabs-advantages_list {
  margin-top: 19px;
}
.tabs-advantages_item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
}
#tabs-4 .tabs-text,
#tabs-6 .tabs-text,
#tabs-7 .tabs-text,
#tabs-8 .tabs-text {
  margin-bottom: 25px;
  font-weight: 300;
}
.tabs-request_txt {
  font-weight: 500;
}
.tabs-urgent_title {
  margin-bottom: 11px;
}
.tabs-urgent_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 40px;
}

.tabs-urgent_txt {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
.urgent {
  margin-top: 44px;
}
.step-urgent::before {
  height: 56px;
}
#tabs-7 .tabs-text span {
  display: inline-block;
  font-weight: 500;
}
.crediting::before {
  height: 24px;
}
.last-tabs {
  border-bottom: none;
}
